# APP
SESSION_SECRET= 
COOKIE_SECURE= 0

NEXT_PUBLIC_APP_URL=http://localhost:5016

USER_DEFAULT_PASSWORD=nev123@

# DB
DATABASE_URL="mysql://user:pasword@host:3306/nev_event_app"

# EMAIL
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_DEV_ADDRESS= //don't use it for production
